body {
  background: #fff;
  color: #A1A1A1;
}
.image-wrapper {
  img {
    width: 100%;
  }
}
.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
  padding: 0 20px;
}
.single {
  h5 {
    border-top: 1px solid $borderColor;
    line-height: 1.4;
    padding: 6px 0;
  }
  h2 {
    font-size: 2rem;
    color: #000;
  }
}
