.bomb {
  text-align:center;
  background: #000;
  height: 100vh;
  position: relative;
  svg {
    margin: auto;
    height: 150px;
    width: 150px;
    position:absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  display:none;
}

header {
  text-align: center;
  height: 100px;
  background: #fff;
  position: relative;
  @include transition(all .5s);
  .title {
    width:20%;
    float: left;
    text-align: left;
    h1 {
      font-size: 1.3rem;
      padding-top: 20px;
    }
  }
  nav {
    padding-top: 24px;
    width: 80%;
    ul {
      margin: 0 0;
      padding: 0 0;
    }
    li {
      margin: 0 0;
      padding: 0 10px;
      display: inline-block;
    }
    a {
      color: #003DE8;
    }
  }
}
