.row {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear:both;
  }
  &.full-width {
    .col-10 {
      @include span-columns(12);
    }
  }
}
@for $i from 1 through 12 {
  .col-#{$i} {
    @include span-columns($i);
  }
}
