#work {
  width: 103.125%;
  overflow: hidden;
  margin-left: -1.562%;
  margin-bottom: -1.875em;
}
  .item {
    border-top: 1px solid $borderColor;
    width: 30.303%;
    float: left;
    margin: 0 1.515% 1.875em;
    h2 {
      display: inline-block;
    }
    h5 {
      display: inline-block;
      text-align: right;
      float: right;
      text-transform: uppercase;
      padding-top: 4px;
    }
    img {
      width: 100%;
      padding-top: 4px;
    }
  }
@media only screen and ( max-width: 960px ) /* 640px */
{

  .item {
    width: 46.876%;
    /* 305px */
    margin-bottom: 0.938em;
    /* 15px */
  }

}
@media only screen and ( max-width: 20em ) /* 640px */
{

  #work {
    width: 100%;
    margin-left: 0;
    .item {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
