#work {
  width: 103.125%;
  overflow: hidden;
  margin-left: -1.562%;
  margin-bottom: -1.875em;
}
  .item {
    border-top: 1px solid $borderColor;
    width: 30.303%;
    float: left;
    margin: 0 1.515% 1.875em;
    h2 {
      display: inline-block;
      font-size: 1rem;
      color: #58595B;
      font-family:"Maison Neue Book", Calibri, Arial, Roboto, sans-serif; font-weight:300; font-style:normal;
    }
    h5 {
      display: inline-block;
      text-align: right;
      float: right;
      padding-top: 4px;
      color: #CCCCCC;
      font-size:0.875rem;
    }
    img {
      width: 100%;
      padding-top: 4px;
    }
  }
.row {
  &.head {
    padding-bottom: 30px;
  }
  &.works {
    margin-top: 50px;
  }
}
@media only screen and ( max-width: 960px ) /* 640px */
{

  .item {
    width: 46.876%;
    /* 305px */
    margin-bottom: 0.938em;
    /* 15px */
  }

}
@media only screen and ( max-width: 20em ) /* 640px */
{

  #work {
    width: 100%;
    margin-left: 0;
    .item {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.animated {
  opacity: 0;
  @include transition(all .3s);
  &.show {
    opacity: 1;
  }
}
