<template name="work">
  <section class="work" name="work">
    <div class="wrapper">
      <div id="work">
        <div class="grid-sizer"></div>
        {{#each works}}
          {{> workBlock }}
        {{/each}}
      </div>
    </div>
  </section>
</template>

<template name="workBlock">
  <div class="item">
    <div class="overlay"></div>
    <div class="inner">
      <div class="content">
        <a href="{{ pathFor 'workSingle' }}">
        <div class="align-center">
          <a href="{{ pathFor 'workSingle' }}"><h2>{{{name}}}</h2></a>
          <a href="{{ pathFor 'workSingle' }}"><h5>More Info</h5></a>
          <img src="{{ image.url }}" alt="{{name}}" />
        </div>
      </a>
      </div>
    </div>
  </div>
</template>
